// Brand Colors and Shadow Variants
$KidsMagenta: #F41971;
$KidsMagentaDark: #CE1569;

$KidsGreen: #A6EF18;
$KidsGreenDark: #75C700;

$KidsSeafoam: #1AE8CF;
$KidsSeafoamDark: #0FBCA3;

$KidsBlue: #00C3F7;
$KidsBlueDark: #00A0D1;

$KidsYellow: #FFE000;
$KidsYellowDark: #EFC206;

$KidsPink: #F953D2;
$KidsPinkDark: #e513bd;

$KidsOrange: #FFB000;
$KidsOrangeDark: #FF8B00;

// Expanded Brand Color Variants
$parentsNavMagenta: #ff58b0;
$parentsBarMagenta: #ff2e9c;
$parentsTextMagenta: #b20654;

$parentsNavGreen:  #d7f896;
$parentsBarGreen:  #c1f45e;
$parentsTextGreen: #21ad09;

$parentsNavSeafoam: #8ff4e7;
$parentsBarSeafoam: #60efdd;
$parentsTextSeafoam: #008791;

$parentsNavBlue: #84e2fb;
$parentsBarBlue: #4dd5f9;
$parentsTextBlue: #0869b2;

$parentsNavYellow:  #fff18b;
$parentsBarYellow:  #ffe94d;
$parentsTextYellow: #ff8b00;

$parentsNavPink:  #FEDDF6;
$parentsBarPink:  #FCA9E9;
$parentsTextPink: #C11AA1;

$parentsNavOrange:  #FFEFCC;
$parentsBarOrange:  #FFD880;
$parentsTextOrange: #F26C11;

$KidsBackgroundGrey: #d8d8d8;
$KidsModalOverlay: rgba(216, 216, 216, 0.8);
$KidsGreenDeep: #26af4b;
