@import './common/_index';

.story {
  position: relative;
  background-color: #f4f4f4;
  border-bottom: 1px solid #ddd;
  @include bodyfont($size: 1em, $lineHeight: 1.4);

  .story-name {
    $iconWidth: 16px;
    $iconTypeHeight: 16px;
    $iconPointsHeight: 24px;
    $padding: 0.5em;

    padding: $padding;
    padding-left: calc(#{3 * $padding} + #{2 * $iconWidth});
    min-height: $iconPointsHeight;
    margin: 0;
    font-size: 1em;
    font-weight: normal;
    cursor: pointer;

    &::before {
      // Used to display story type
      content: '';
      position: absolute;
      width: $iconWidth;
      height: $iconTypeHeight;
      top: $padding;
      left: $padding;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }

    &.feature::before {
      background-image: url('/images/icon-feature.png');
    }

    &.bug::before {
      background-image: url('/images/icon-bug.png');
    }

    &.chore::before {
      background-image: url('/images/icon-chore.png');
    }

    &.release::before {
      background-image: url('/images/icon-release.png');
    }

    &::after {
      // Used to display point estimates
      content: '';
      position: absolute;
      width: $iconWidth;
      height: $iconPointsHeight;
      top: calc(#{$padding} - #{$iconPointsHeight - $iconTypeHeight}/2);
      left: calc(#{2 * $padding} + #{$iconWidth});
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }

    &.estimate-1::after {
      background-image: url('/images/point-1.svg');
    }

    &.estimate-2::after {
      background-image: url('/images/point-2.svg');
    }

    &.estimate-3::after {
      background-image: url('/images/point-3.svg');
    }

  }

  .story-description {
    background: #d7e4f2;
    font-size: 0.8em;
    padding: 1em;
    margin: 0;
    border-top: solid 1px #afbfd0;
  }
}
