@import './common/index';
@import './_person';
@import './_story';

body {
  margin: 0;
  background-color: #212121 !important;

  #app {
    $headerHeight: 4em;

    .workspace-header {
      $topPadding: 0.75em;

      color: #ffffff;
      background-color: $KidsMagentaDark;
      height: $headerHeight;
      padding: $topPadding 1.5em;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      box-sizing: border-box;

      .workspace-name {
        @include kidsfont($size: #{$headerHeight - 2 * $topPadding}, $lineHeight: 1);
        text-transform: uppercase;
        margin: 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      .workspace-current-search {
        @include kidsfont($size: #{($headerHeight - 2 * $topPadding) * 2 / 3}, $lineHeight: 1);
        text-transform: capitalize;
        margin: 0 1em;
        white-space: nowrap;
      }

      label {
        @include bodyfont($size: 12px, $lineHeight: 1.4);
        display: flex;
        flex-direction: column;
      }
    }

    .people {
      display: flex;
      justify-content: flex-start;
      align-items: stretch;
      height: calc(100% - #{$headerHeight});
      position: absolute;
      padding: 0.5em;
      box-sizing: border-box;
      overflow-x: auto;
      width: 100%;
    }
  }
}
