@import './common/index';
@import './_person';
@import './_story';

body {
  margin: 0;
  background-color: #212121;

  #app {
    @include bodyfont($size: 12px, $lineHeight: 1.4);

    display: flex;
    justify-content: flex-start;
    align-items: stretch;

    height: 100%;
    position: absolute;
    padding: 0.5em;
    box-sizing: border-box;
  }
}
